body {
    background: linear-gradient(135deg, rgb(20, 15, 35), rgb(15, 30, 45), rgb(25, 25, 35));
    font-family: Arial, sans-serif;
}

/* HOME PAGE */

.container {
    display: flex;
    height: 100vh;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    color: rgb(240, 240, 245);
    border-radius: 1rem;
    padding: 7rem;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.reviews {
    display: flex;
    gap: 10rem;
}

.btn-default, 
.btn-advanced {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    font-size: 2rem;
    padding: 0.6rem 5rem;
    background-color: rgb(50, 80, 160);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn-default:hover, 
.btn-advanced:hover {
    background-color: rgb(65, 105, 200);
}

.btn-default:active, 
.btn-advanced:active {
    transform: scale(0.98);
}

/* DEFAULT PAGE */
.current-page {
    display: flex;
    height: 100vh;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.current-page h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.input-categories {
    border: 0;
    border-radius: 0.5em;
    font-size: 1.5rem;
    gap: 1rem;
}

.input-categories::placeholder {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.current-page button {
    border: 0;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

.result {
    font-size: 1.7rem;
}

/* ADVANCED PAGE */

.hidden {
    display: none;
}

